/autom4te.cache
/ABOUT-NLS
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/stamp-h1
/config
/po
/make
/doc/make.info
/doc/make.info-1
/doc/make.info-2
/build.sh
/child
/doc/fdl.texi
/doc/make-stds.texi
/doc/stamp-vti
/doc/version.texi
/parent
/po-check-1
/po-check-2
CVS
Makefile
Makefile.in
*.Po
*.o
*~
