Source: make-color
Section: devel
Priority: standard
Maintainer: Michal Maruska <mmaruska@gmail.com>
Build-Depends: autoconf, automake | automaken, autopoint, file, debhelper (>= 7)
Standards-Version: 3.8.3.0

Package: make
Section: devel
Priority: standard
Suggests: make-doc
Architecture: any
Description: Utility for Directing compilation.
 GNU Make is an utility which controls the generation of executables and
 other target files of a program from the program's source files. It
 determines automatically which pieces of a large program need to be
 (re)created, and issues the commands to (re)create them. Make is not
 limited to programs and executable, it can be applied to any task
 where a set of target files must be created based on a set of input
 files, based on dependency and processing rules. Indeed, Make is a
 general purpose dependency solver.
Depends: ${shlibs:Depends}
