#!/usr/bin/make -f

# clean:: if [ -e Makefile ]; then $(MAKE) clean; fi

# DEB_MAKE_INSTALL_TARGET = install DESTDIR=$(DEB_DESTDIR) && rm -rfv $(DEB_DESTDIR)/usr/share/info/

%:
	dh $@


# install::
#	$(MAKE) install DESTDIR=$(DEB_DESTDIR)
#	rm -fv $(DEB_DESTDIR)/usr/share/info/
